:host {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 16px;

  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  padding: 8px;
}

.content {
  margin-top: 16px;
  padding: 16px;
}
