:host {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
  padding: 16px;

  align-items: flex-end;
  align-content: center;

  & > * {
    flex: 1 0 100%;
    padding: 8px
  }
}

.title {
  font-size: 24px;
}
